.mainBlock{
    background: #4C3D74;
}

.container{
    max-width: 1170px;
    margin: auto;
}

.topH1{
    padding-top: 168px;
    margin: 0 0 45px 0;
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 66px;
    text-align: center;

    color: #FFFFFF;
}

.rateComponents{
    display: flex;
    justify-content: space-between;
}

.RatePageFooter{
    display: flex;
    justify-content: space-between;
    margin-top: 93px;
    padding-bottom: 177px;
}

.RatePageFooterLeft{
    display: flex;
    width: 57%;
}

.RatePageFooterLeftText{
    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */


    color: #FFFFFF;

    margin-left: 30px;
}


@media (max-width: 1200px) {
    .container{
        margin: auto;
        max-width: 992px;
    }
}

@media (max-width: 992px){
    .container{
        max-width: 768px;
        margin:auto;
    }
    .rateComponents{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 768px){
    .container{
        max-width: 576px;
        margin: auto;
    }
    .RatePageFooter{
        flex-direction: column;
        align-items: center;
    }
    .RatePageFooterLeft{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .RatePageFooterLeftText{
        margin: 25px 0 0 0;
        text-align: center;
    }
    .rateComponents div {
        margin-top: 40px;
    }
    .btnControl{
        margin-top: 25px;
    }
}
@media (max-width: 576px) {
    .container {
        max-width: 375px;
        margin: auto;
    }
    .topH1{
        padding-top: 90px;
        margin: 0 0 45px 0;
        font-size: 30px;
        line-height: 40px;
    }
}
@media (max-width: 375px){
    .container{
        max-width: 355px;
        margin: auto;
    }
}